.share-button-container {
  position: relative;
}

.share-button {
  display: flex;
  align-items: center;
  padding: calc(var(--space) * 2.5);
  border: none;
  border-radius: 50%;
  color: var(--sns-icon-color);
  background-color: var(--share-color);
  font-size: var(--note-font-size);
  text-decoration: none;
}

.share-button:hover {
  background-color: var(--share-color--hover);
}

.share-button:focus-visible {
  outline-offset: var(--space);
}

.share-button svg {
  fill: currentcolor;
  width: var(--sns-share-icon-size);
  height: var(--sns-share-icon-size);
}

.message {
  position: absolute;
  top: calc(100% + var(--space));
  left: 50%;
  display: block;
  padding: var(--space);
  margin: auto;
  background-color: var(--main-color);
  transform: translate(-50%);
  white-space: nowrap;
}
