# --------------------
# Directories
# --------------------

.astro/
dist/
__fixtures__/

# Playwright
blob-report/
playwright/.cache/
playwright-report/
test-results/


# --------------------
# Files
# --------------------

*.txt
CHANGELOG.md
pnpm-lock.yaml
worker-configuration.d.ts
