html {
  font-family: var(--base-font-family);
  font-kerning: none;
  font-size: var(--base-font-size);
  font-weight: 500;
  hanging-punctuation: allow-end;
  line-break: strict;
  line-height: var(--base-line-height);
}

:lang(en) {
  font-kerning: normal;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 1px;
}
a:active {
  color: var(--link-active-color);
}

:focus,
:focus-visible {
  outline: 1px solid var(--main-color);
}
:focus:not(:focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: 'palt';
  font-kerning: normal;
  line-height: var(--heading-line-height);
}

ul li::marker {
  color: var(--main-color);
}

code {
  padding: 0 var(--space);
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: var(--programming-font-family);
}

pre code {
  padding: 0;
  border: none;
}
