@font-face {
  font-family: 'BIZ UDPGothic Alphabet';
  font-weight: 400;
  src: local('BIZ UDPGothic');
  unicode-range: U+00-7f;
}

@font-face {
  font-family: 'BIZ UDPGothic Alphabet';
  font-weight: 700;
  src: local('BIZ UDPGothic Bold');
  unicode-range: U+00-7f;
}

html {
  font-family: var(--base-font-family);
  font-kerning: none;
  font-size: var(--base-font-size);
  font-weight: 500;
  hanging-punctuation: allow-end;
  line-break: strict;
  line-height: var(--base-line-height);
}

:lang(en) {
  font-kerning: normal;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration-style: dotted;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 1px;
}

a:link,
a:visited {
  color: var(--link-color);
}
a:hover {
  text-decoration-style: solid;
}
a:active {
  color: var(--link-active-color);
}

:focus,
:focus-visible {
  outline: 1px solid var(--main-color);
}
:focus:not(:focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: 'palt';
  font-kerning: normal;
  line-height: var(--heading-line-height);
}

ul li::marker {
  color: var(--main-color);
}

/* https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
