:root {
  --base-font-family: sans-serif;
  --site-title-font-family: 'Hiragino Sans', '游ゴシック', Helvetica, sans-serif;
  --programming-font-family: Menlo, Consolas, Monaco, monospace;

  --base-font-size: 1rem;
  --site-title-font-size: clamp(
    var(--base-font-size),
    var(--base-font-size) + 0.25vw,
    var(--base-font-size) * 1.5
  );
  --section-title-font-size: clamp(
    var(--base-font-size) + 0.125rem,
    var(--base-font-size) + 0.5vw,
    var(--base-font-size) + 0.5rem
  );
  --list-title-font-size: clamp(
    var(--base-font-size) + 0.125rem,
    var(--base-font-size) + 0.5vw,
    var(--base-font-size) + 0.5rem
  );
  --note-font-size: clamp(
    var(--base-font-size) - 0.125rem,
    var(--base-font-size) - 0.125rem + 0.125vw,
    var(--base-font-size)
  );

  --base-line-height: 1.7;
  --heading-line-height: calc(var(--base-line-height) * 0.875);
}
