.container {
  display: flex;
  align-items: center;
  gap: var(--space-component-1);
  flex-direction: column;
}

.button {
  padding: var(--space-component-2);
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 1px 2px var(--color-monotone-300);
  line-height: 1;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(from var(--color-monotone-300) r g b / 0.1);
}

.clap {
  display: inline-block;
  font-size: 1.5rem;
  will-change: transform;
}

.count {
  flex-shrink: 0;
  line-height: 1.5;
}

.clapping {
  animation: clap 250ms ease-out;
}
@media (prefers-reduced-motion: reduce) {
  .clapping {
    animation: none;
  }
}

@keyframes clap {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  25% {
    transform: scale(1.125) rotateY(-15deg);
  }
  50% {
    transform: scale(1.25) rotateY(0deg);
  }
  75% {
    transform: scale(1.125) rotateY(15deg);
  }
  100% {
    transform: scale(1) rotateY(0deg);
  }
}
