.skeleton {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background-color: var(--monotone-400);
  border-radius: var(--border-radius);
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    background-color: var(--monotone-300);
  }
  50% {
    background-color: var(--monotone-200);
  }
  100% {
    background-color: var(--monotone-300);
  }
}

@media (prefers-reduced-motion: reduce) {
  .skeleton {
    animation: none;
  }
}
