.pickup-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--contents-separator-space);
}

.pickup-entry-title {
  margin: 0 0 calc(var(--space) * 3);
  font-size: var(--section-title-font-size);
  font-weight: normal;
}

.entry-list {
  display: grid;
  gap: calc(var(--space) * 6);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 35rem) {
  .entry-list {
    overflow-wrap: anywhere;
    grid-template-columns: calc(50% - var(--space) * 3) calc(50% - var(--space) * 3);
  }
}

.entry {
  display: flex;
  flex-direction: column;
}

.entry-list-title {
  margin: 0 0 calc(var(--space) * 3);
  font-size: var(--section-title-font-size);
  font-weight: normal;
}

.entry-title {
  margin: 0;
  font-size: var(--list-title-font-size);
  font-weight: bold;
  line-height: var(--heading-line-height);
}

.entry-title a:link,
.entry-title a:visited {
  color: inherit;
}
.entry-title a:active {
  color: var(--main-color);
}

.entry-published-date {
  margin-top: var(--space);
}

.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: calc(var(--space) * 2) 0 0;
  font-size: var(--note-font-size);
}
@supports (-webkit-line-clamp: 2) {
  .excerpt {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-line-clamp: 2;
  }
}
