.entry-contents > * {
  grid-column: 1 / -1;
}

.entry-contents > *:first-child {
  margin-top: 0;
}

.entry-contents > *:last-child {
  margin-bottom: 0;
}

.entry-contents > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.entry-contents blockquote,
.entry-contents p,
.entry-contents pre,
.entry-contents ol,
.entry-contents ul {
  margin: calc(1rem + var(--space)) 0 0;
}

.entry-contents blockquote {
  position: relative;
  padding-left: calc(1rem + var(--space) * 2);
  border-left: 12px solid var(--border-color);
}

.entry-contents blockquote > p {
  margin: 0;
}

.entry-contents blockquote::before {
  content: 'â';
  position: absolute;
  top: 0;
  left: var(--space);
  color: var(--main-color);
  font-size: calc(var(--base-font-size) * 2);
  line-height: 1;
}

.entry-contents h1 {
  margin: var(--contents-separator-space) 0 0;
  font-size: var(--section-title-font-size);
}

.entry-contents h2 {
  margin: calc(var(--contents-separator-space) / 1.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.1);
}

.entry-contents h3 {
  margin: calc(var(--contents-separator-space) / 1.5) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.2);
}

.entry-contents h4 {
  margin: calc(var(--contents-separator-space) / 1.75) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.3);
}

.entry-contents h5 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.4);
}

.entry-contents h6 {
  margin: calc(var(--contents-separator-space) / 2.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.5);
}

.entry-contents img {
  max-width: 100%;
  height: auto;
  padding: var(--space);
  border: 1px solid var(--border-color);
  background-color: var(--image-background-color);
}

.entry-contents pre {
  padding: calc(var(--space) * 2);
  background-color: var(--code-background-color);
  color: var(--code-background-color);
  overflow: auto;
}

.entry-contents pre > code {
  white-space: pre-wrap;
}

.entry-contents ol ol,
.entry-contents ul ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}

.entry-contents table {
  border-collapse: collapse;
  border-spacing: 0;
}

.entry-contents th,
.entry-contents td {
  border: 1px solid var(--border-color);
  padding: var(--space);
}
