.header {
  position: relative;
}

.entry {
  padding: 0 1rem;
}
@media (min-width: 52.125rem) {
  .entry {
    padding: 0;
  }
}

.entry-title {
  margin: 0;
}

.entry-metadata {
  display: flex;
  align-items: center;
}

.entry-category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 calc(var(--space) * 3);
  color: var(--light-text-color);
  font-size: var(--note-font-size);
}

.entry-category-list-item {
  margin-right: calc(var(--space) * 3);
  background-color: var(--sub-color);
}
.entry-category-list-item:last-child {
  margin-right: 0;
}

.entry-category-list-item a:link,
.entry-category-list-item a:visited {
  color: var(--light-text-color);
}

.entry-category-link {
  display: block;
  padding: calc(var(--space) / 2) calc(var(--space) * 2);
}

.entry-contents {
  margin-top: calc(var(--contents-separator-space) / 1.5);
}

.entry-contents > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.entry-contents blockquote,
.entry-contents p,
.entry-contents pre,
.entry-contents ol,
.entry-contents ul {
  margin: calc(1rem + var(--space)) 0;
}

.entry-contents blockquote {
  position: relative;
  padding-left: calc(1rem + var(--space));
  border-left: 12px solid var(--accent-color);
}

.entry-contents blockquote > p {
  margin: 0;
}

.entry-contents blockquote::before {
  content: 'â';
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-color);
  font-size: calc(var(--base-font-size) * 2);
  line-height: 1;
}

.entry-contents h2 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
}

.entry-contents h3 {
  margin: calc(var(--contents-separator-space) / 3) 0 0;
}

.entry-contents h4 {
  margin: calc(var(--contents-separator-space) / 4) 0 0;
}

.entry-contents img {
  max-width: 100%;
}

.entry-contents pre {
  padding: calc(var(--space) * 2);
  background-color: var(--code-background-color);
  color: var(--code-background-color);
  overflow: auto;
}

.entry-contents pre > code {
  white-space: pre-wrap;
}

.entry-contents ol ol,
.entry-contents ul ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}

.entry-tag-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.entry-tag-list-item {
  margin-right: calc(var(--space) * 3);
}
.entry-tag-list-item:last-child {
  margin-right: 0;
}

.entry-tag-list-item a::before {
  content: '#';
}
