.header {
  position: relative;
}

.entry > * {
  padding: 0 1rem;
}
@media (min-width: 52.125rem) {
  .entry > * {
    padding: 0;
  }
}

.entry-title {
  margin: 0;
  font-size: var(--section-title-font-size);
}

.entry-metadata {
  margin-top: var(--space);
}

.entry-tag-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: var(--space) 0 0;
  font-size: var(--note-font-size);
}

.entry-tag-list-item {
  margin-left: var(--space);
}
.entry-tag-list-item:first-child {
  margin-left: 0;
}

.entry-tag-list-item a::before {
  content: '#';
}

.entry-share {
  margin-top: var(--contents-separator-space);
  text-align: center;
}

.entry-share > * + * {
  margin-top: calc(var(--space) * 3);
}

.entry-share-text {
  display: inline-block;
  padding-bottom: var(--space);
  border-bottom: 2px solid var(--sub-color);
  margin: 0;
}

.related-entry-list {
  padding: 0 1rem;
  margin-top: var(--contents-separator-space);
}
@media (min-width: 52.125rem) {
  .related-entry-list {
    padding: 0;
  }
}

.related-entry-list h2 {
  margin-top: 0;
}

.related-entry-list ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}
