.header {
  position: relative;
}

.entry {
  padding: 0 1rem;
}
@media (min-width: 52.125rem) {
  .entry {
    padding: 0;
  }
}

.entry-title {
  margin: 0;
}

.entry-contents {
  margin-top: calc(var(--contents-separator-space) / 1.5);
}

.entry-contents > *:last-child {
  margin-bottom: 0;
}

.entry-contents > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.entry-contents blockquote,
.entry-contents p,
.entry-contents pre,
.entry-contents ol,
.entry-contents ul {
  margin: calc(1rem + var(--space)) 0;
}

.entry-contents blockquote {
  position: relative;
  padding-left: calc(1rem + var(--space) * 2);
  border-left: 12px solid var(--border-color);
}

.entry-contents blockquote > p {
  margin: 0;
}

.entry-contents blockquote::before {
  content: '❝';
  position: absolute;
  top: 0;
  left: var(--space);
  color: var(--main-color);
  font-size: calc(var(--base-font-size) * 2);
  line-height: 1;
}

.entry-contents h2 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
}

.entry-contents h3 {
  margin: calc(var(--contents-separator-space) / 3) 0 0;
}

.entry-contents h4 {
  margin: calc(var(--contents-separator-space) / 4) 0 0;
}

.entry-contents img {
  max-width: 100%;
  height: auto;
  padding: var(--space);
  border: 1px solid var(--border-color);
  background-color: var(--image-background-color);
}

.entry-contents pre {
  padding: calc(var(--space) * 2);
  background-color: var(--code-background-color);
  color: var(--code-background-color);
  overflow: auto;
}

.entry-contents pre > code {
  white-space: pre-wrap;
}

.entry-contents ol ol,
.entry-contents ul ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}

.entry-contents table {
  border-collapse: collapse;
  border-spacing: 0;
}

.entry-contents th,
.entry-contents td {
  border: 1px solid var(--border-color);
  padding: var(--space);
}

.entry-tag-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: var(--space) 0 0;
  font-size: var(--note-font-size);
}

.entry-tag-list-item {
  margin-left: var(--space);
}
.entry-tag-list-item:first-child {
  margin-left: 0;
}

.entry-tag-list-item a::before {
  content: '#';
}

.related-entry-list {
  padding: 0 1rem;
  margin-top: var(--contents-separator-space);
}
@media (min-width: 52.125rem) {
  .related-entry-list {
    padding: 0;
  }
}

.related-entry-list h2 {
  margin-top: 0;
}

.related-entry-list ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}
