.entry-contents-children {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1em);
}

.entry-contents-children > * {
  grid-column: 1 / -1;
}

.entry-contents-children > *:first-child {
  margin-top: 0;
}

.entry-contents-children > *:last-child {
  margin-bottom: 0;
}

.entry-contents-children > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.entry-contents-children blockquote,
.entry-contents-children p,
.entry-contents-children pre,
.entry-contents-children ol,
.entry-contents-children ul {
  margin: calc(1rem + var(--space)) 0 0;
}

.entry-contents-children blockquote {
  position: relative;
  padding-left: calc(1rem + var(--space) * 2);
  border-left: 12px solid var(--border-color);
}

.entry-contents-children blockquote > p {
  margin: 0;
}

.entry-contents-children blockquote::before {
  content: 'â';
  position: absolute;
  top: 0;
  left: var(--space);
  color: var(--main-color);
  font-size: calc(var(--base-font-size) * 2);
  line-height: 1;
}

.entry-contents-children h1 {
  margin: var(--contents-separator-space) 0 0;
  font-size: var(--section-title-font-size);
}

.entry-contents-children h2 {
  margin: calc(var(--contents-separator-space) / 1.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.1);
}

.entry-contents-children h3 {
  margin: calc(var(--contents-separator-space) / 1.5) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.2);
}

.entry-contents-children h4 {
  margin: calc(var(--contents-separator-space) / 1.75) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.3);
}

.entry-contents-children h5 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.4);
}

.entry-contents-children h6 {
  margin: calc(var(--contents-separator-space) / 2.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.5);
}

.entry-contents-children img {
  max-width: 100%;
  height: auto;
  padding: var(--space);
  border: 1px solid var(--border-color);
  background-color: var(--image-background-color);
}

.entry-contents-children pre {
  padding: calc(var(--space) * 2);
  background-color: var(--code-background-color);
  color: var(--code-background-color);
  overflow: auto;
}

.entry-contents-children pre > code {
  white-space: pre-wrap;
}

.entry-contents-children ol ol,
.entry-contents-children ul ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}

.entry-contents-children table {
  border-collapse: collapse;
  border-spacing: 0;
}

.entry-contents-children th,
.entry-contents-children td {
  border: 1px solid var(--border-color);
  padding: var(--space);
}
