---
import type { CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';
import timezone from 'dayjs/plugin/timezone';
import utc from 'dayjs/plugin/utc';

import { pathList } from '../../../constants/path_list';

import './EntryList.css';

dayjs.extend(utc);
dayjs.extend(timezone);

interface Props {
  entries: CollectionEntry<'entries'>[];
}

const { entries } = Astro.props;
---

<ul class="EntryList">
  {
    entries.map((entry) => (
      <li>
        <div class="EntryItem">
          <time class="PublishedDate" datetime={dayjs(entry.data.publishedAt).tz('Asia/Tokyo').toISOString()}>
            {dayjs(entry.data.publishedAt).tz('Asia/Tokyo').format('YYYY年M月D日')}
          </time>
          <a href={`${pathList.entries}/${entry.slug}`}>{entry.data.title}</a>
          <p>{entry.data.excerpt}</p>
        </div>
      </li>
    ))
  }
</ul>
