---
import { pathList } from '../../../constants/path_list';

interface Props {
  title: string;
}

function addWbr(text: string): string {
  const t = text;
  return t.replace(/、/g, '$&<wbr />');
}

const { title } = Astro.props;
---

<a class="Logo" href={pathList.root}>
  <Fragment set:html={addWbr(title)} />
</a>
