---
import { pathList } from '../../../constants/path_list';
import { addWbr } from '../shared_logic/add_wbr';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<a class="Logo" href={pathList.root}>
  <Fragment set:html={addWbr(title)} />
</a>
