.site-header {
  position: relative;
  max-width: var(--site-width);
  padding: calc(var(--space) * 3);
}

@media (min-width: 35rem) {
  .site-header {
    display: flex;
    margin: 0 auto;
  }
}

@media (min-width: 70rem) {
  .site-header {
    display: block;
    padding-left: 0;
  }
}

.site-title {
  margin: 0;
  font-size: var(--site-title-font-size);
  font-family: var(--site-title-font-family);
  font-weight: 900;
}
@media (min-width: 70rem) {
  .site-title {
    position: absolute;
    right: calc(100% + var(--space) * 10);
    margin: 0 auto;
  }
}

.site-title a {
  border-bottom: 2px solid var(--main-color);
  color: var(--text-color);
  text-decoration: none;
}
@media (min-width: 35rem) {
  .site-title a {
    display: inline-flex;
    flex-direction: column;
    padding: calc(var(--space) * 3);
    border: none;
    color: var(--site-title-color);
    background-color: var(--main-color);
  }

  .site-title a > span {
    display: block;
    white-space: nowrap;
  }
}
@media (min-width: 70rem) {
  .site-title a::after {
    content: "";
    display: block;
    height: calc(var(--site-title-font-size) * var(--heading-line-height) * 3);
  }
}

@media (min-width: 35rem) {
  .site-description {
    padding-top: calc(var(--space) * 3);
    margin: 0 0 0 calc(var(--space) * 3);
  }
}
@media (min-width: 70rem) {
  .site-description {
    margin: 0;
  }
}

.site-footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: var(--site-width);
  margin: var(--contents-separator-space) auto 0;
  font-size: var(--note-font-size);
}
@media (min-width: 70rem) {
  .site-footer {
    margin: calc(var(--contents-separator-space) * 1.5) auto 0;
  }
}

.site-links {
  padding: calc(var(--space) * 5) 0 calc(var(--space) * 5) calc(1rem + var(--space));
}

.site-links > * {
  margin: 0;
}

.site-copyright {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 calc(var(--space) * 10);
  margin: 0 0 0 calc(var(--space) * 3);
  color: var(--copyright-text-color);
}

.site-copyright::before,
.site-copyright::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
}
.site-copyright::after {
  left: 0;
  z-index: -1;
  width: 100vw;
  background-color: var(--main-color);
}
