.site-header {
  height: calc(100vw - 45.875rem);
  min-height: 60px;
  max-height: 100px;
  text-align: center;
}

.site-title {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 50rem;
  height: 100%;
  padding-left: 20px;
  margin: 0 auto;
  border-left: 40px solid var(--main-color);
  font-size: var(--site-title-font-size);
  font-family: var(--site-title-font-family);
  font-weight: 500;
}
.site-title::before {
  content: '';
  display: block;
  position: absolute;
  left: calc(-100vw - 40px);
  background-color: var(--main-color);
  width: 100vw;
  height: 100%;
}

.site-title a {
  color: var(--main-color);
  text-decoration: none;
}

.site-footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: var(--site-width);
  padding-left: calc(var(--space) * 3);
  margin: var(--contents-separator-space) auto 0;
  font-size: var(--note-font-size);
}
@media (min-width: 52.125rem) {
  .site-footer {
    padding-left: 0;
    margin: calc(var(--contents-separator-space) * 1.5) auto 0;
  }
}

.site-footer a:link,
.site-footer a:visited {
  color: var(--link-color);
}

.site-links {
  padding: calc(var(--space) * 5) 0 calc(var(--space) * 5) calc(1rem + var(--space));
}

.site-links > * {
  margin: 0;
}

.copyright {
  display: flex;
  position: relative;
  padding: 0 calc(var(--space) * 5);
  margin: 0 0 0 calc(var(--space) * 5);
  color: var(--light-text-color);
}

.copyright::before,
.copyright::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
}
.copyright::before {
  left: -4.197vw;
  width: 4.197vw;
  background-color: var(--accent-color);
}
.copyright::after {
  left: 0;
  z-index: -1;
  width: 100vw;
  background-color: var(--main-color);
}

.copyright small {
  padding-top: calc(var(--space) * 5);
}
