.site-title {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 50rem;
  height: 100%;
  padding: calc(var(--space) * 5) 0 calc(var(--space) * 5) calc(var(--space) * 5);
  margin: 0 auto;
  border-left: 40px solid var(--main-color);
  font-size: var(--site-title-font-size);
  font-family: var(--site-title-font-family);
  font-weight: 500;
}
.site-title::before,
.site-title::after {
  content: '';
  display: block;
  position: absolute;
}
.site-title::before {
  left: calc(-100vw - 40px);
  background-color: var(--main-color);
  width: 100vw;
  height: 100%;
}
.site-title::after {
  left: 0;
  width: 8px;
  height: 100%;
  background-color: var(--accent-color);
}

.site-title a {
  text-decoration: none;
}

.light-mode .site-title a {
  color: var(--main-color);
}

.dark-mode .site-title a {
  color: var(--text-color);
}

.site-description {
  max-width: var(--site-width);
  padding: 0 calc(var(--space) * 3);
  margin: var(--contents-separator-space) auto 0;
}
@media (min-width: 52.125rem) {
  .site-description {
    padding: 0;
  }
}

.site-footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: var(--site-width);
  margin: var(--contents-separator-space) auto 0;
  font-size: var(--note-font-size);
}
@media (min-width: 52.125rem) {
  .site-footer {
    margin: calc(var(--contents-separator-space) * 1.5) auto 0;
  }
}

.site-links {
  padding: calc(var(--space) * 5) 0 calc(var(--space) * 5) calc(1rem + var(--space));
}

.site-links > * {
  margin: 0;
}

.site-copyright {
  display: flex;
  position: relative;
  padding: 0 calc(var(--space) * 5);
  margin: 0 0 0 calc(var(--space) * 5);
  color: var(--copyright-text-color);
}

.site-copyright::before,
.site-copyright::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
}
.site-copyright::before {
  left: -4.197vw;
  width: 4.197vw;
  background-color: var(--accent-color);
}
.site-copyright::after {
  left: 0;
  z-index: -1;
  width: 100vw;
  background-color: var(--main-color);
}

.site-copyright small {
  padding-top: calc(var(--space) * 5);
}
