.page-description {
  padding: 0 calc(var(--space) * 3);
  margin: 0 auto var(--contents-separator-space);
}
@media (min-width: 37.5rem) {
  .page-description {
    padding: 0;
    margin: 0 auto calc(var(--contents-separator-space) * 1.5);
  }
}
