.opt-out {
}

.entry-title {
  margin: 0;
  font-size: var(--headline-font-size);
}

.entry-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1em);
  margin-top: var(--contents-separator-space);
}

.entry-contents > * {
  grid-column: 1 / -1;
}

.entry-contents > *:first-child {
  margin-top: 0;
}

.entry-contents > *:last-child {
  margin-bottom: 0;
}

.entry-contents h1 {
  margin: var(--contents-separator-space) 0 0;
  font-size: var(--section-title-font-size);
}

.entry-contents h2 {
  margin: calc(var(--contents-separator-space) / 1.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.1);
}

.entry-contents h3 {
  margin: calc(var(--contents-separator-space) / 1.5) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.2);
}

.entry-contents h4 {
  margin: calc(var(--contents-separator-space) / 1.75) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.3);
}

.entry-contents h5 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.4);
}

.entry-contents h6 {
  margin: calc(var(--contents-separator-space) / 2.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.5);
}

.entry-contents blockquote,
.entry-contents p,
.entry-contents pre,
.entry-contents ol,
.entry-contents ul {
  margin: calc(1rem + var(--space)) 0 0;
}
