---
import { pathList } from '../../constants/pathList';
import { addWbr } from '../utils/addWbr';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<a class="Logo" href={pathList.root}>
  <Fragment set:html={addWbr(title)} />
</a>
