.sns-link-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sns-link-list li {
  margin-left: calc(var(--space) * 4);
  color: var(--sns-icon-color);
}
.sns-link-list li:first-child {
  margin-left: 0;
}

.sns-link-list a {
  color: currentcolor;
}
