.sns-link-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sns-link-list li {
  margin-right: calc(var(--space) * 3);
}

.sns-link-list li a {
  color: #fff;
}

.sns-link-list li:last-child {
  margin-right: 0;
}

.twitter-link,
.facebook-link {
  display: flex;
  align-items: center;
  padding: calc(var(--space) / 4) calc(var(--space) * 2);
  border-radius: 4px;
  font-size: var(--note-font-size);
  text-decoration: none;
}

.twitter-link svg,
.facebook-link svg {
  margin-right: var(--space);
  fill: var(--sns-icon-color);
  width: var(--note-font-size);
  height: var(--note-font-size);
}

.twitter-link {
  background-color: var(--twitter-color);
}
.twitter-link:hover {
  background-color: var(--twitter-color--hover);
}

.facebook-link {
  background-color: var(--facebook-color);
}
.facebook-link:hover {
  background-color: var(--facebook-color--hover);
}
