.twitter-link {
  background-color: var(--twitter-color);
  display: flex;
  align-items: center;
  padding: calc(var(--space) * 2.5);
  border-radius: 50%;
  font-size: var(--note-font-size);
  text-decoration: none;
}

.twitter-link:hover {
  background-color: var(--twitter-color--hover);
}

.twitter-link svg {
  fill: currentcolor;
  width: var(--sns-share-icon-size);
  height: var(--sns-share-icon-size);
}
