@import './tokens/color_scheme.css';

:root {
  /* Base */
  --font-size-base: 1rem;
  --line-height-base: 1rem;
  --space-component-base: 0.5rem;
  --space-text-base: 0.25rem;

  /* Widths */
  --site-min-width: calc(var(--font-size-base) * 21);
  --site-max-width: calc(var(--font-size-base) * 50);

  /* Spacing */
  --space-text-base: 0.25rem;
  --space-text-1: var(--space-text-base);
  --space-text-2: calc(var(--space-text-base) * 2);
  --space-text-3: calc(var(--space-text-base) * 3);
  --space-text-4: calc(var(--space-text-base) * 5);
  --space-text-5: calc(var(--space-text-base) * 8);
  --space-text-6: calc(var(--space-text-base) * 13);
  --space-text-7: calc(var(--space-text-base) * 21);
  --space-text-8: calc(var(--space-text-base) * 34);

  /* Component Spacing */
  --space-component-base: 0.5rem;
  --space-component-1: var(--space-component-base);
  --space-component-2: calc(var(--space-component-base) * 2);
  --space-component-3: calc(var(--space-component-base) * 3);
  --space-component-4: calc(var(--space-component-base) * 5);
  --space-component-5: calc(var(--space-component-base) * 8);
  --space-component-6: calc(var(--space-component-base) * 13);
  --space-component-7: calc(var(--space-component-base) * 21);
  --space-component-8: calc(var(--space-component-base) * 34);

  /* Borders */
  --border-radius: 0.25rem;
  --border-size: 0.25rem;

  /* Colors */
  --color-main: var(--blue-600);
  --color-sub: var(--beige-500);
  --color-accent: var(--yellow-200);
  --color-base-text: var(--monotone-800);
  --color-note-text: var(--monotone-600);
  --color-border: var(--monotone-400);

  /* Font Families */
  --font-family-gothic: 'Hiragino Sans', 'BIZ UDPGothic Alphabet', 'BIZ UDGothic', sans-serif;
  --font-family-web-site-title: 'Hiragino Sans', '游ゴシック', Helvetica, sans-serif;
  --font-family-programming: Menlo, Consolas, Monaco, monospace;

  /* Font Sizes */
  --font-size-base: 1rem;
  --font-size-heading-1: calc(var(--font-size-base) * 8 / 5);
  --font-size-heading-2: calc(var(--font-size-base) * 8 / 6);
  --font-size-heading-3: calc(var(--font-size-base) * 8 / 7);
  --font-size-heading-4: calc(var(--font-size-base) * 8 / 8);
  --font-size-text: var(--font-size-base);
  --font-size-note: calc(var(--font-size-base) * 8 / 11);

  /* Line Heights */
  --line-height-base: 0.25rem;
  --line-height-heading-1: calc(var(--line-height-base) * 10);
  --line-height-heading-2: calc(var(--line-height-base) * 8);
  --line-height-heading-3: calc(var(--line-height-base) * 7);
  --line-height-heading-4: calc(var(--line-height-base) * 5);
  --line-height-text: calc(var(--line-height-base) * 7);
  --line-height-note: calc(var(--line-height-base) * 3);
}
