.header {
  position: relative;
}

.entry-title {
  margin: 0;
  font-size: var(--headline-font-size);
}

.entry-metadata {
  margin-top: var(--space);
}

.entry-category {
  display: flex;
  align-items: center;
  margin: calc(var(--space) * 2) 0 0;
}

.entry-category-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 calc(var(--space) * 2);
  font-size: var(--note-font-size);
}

.entry-category-list-item {
  margin-left: calc(var(--space) * 2);
}
.entry-category-list-item:first-child {
  margin-left: 0;
}
.entry-category-list-item a {
  padding: calc(var(--space) * 0.5) calc(var(--space) * 2);
  border: 1px solid var(--sub-color);
  border-radius: var(--radius-size);
}

.entry-tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: var(--contents-separator-space) 0 0;
  font-size: var(--note-font-size);
}

.entry-tag-list-item {
  margin-left: calc(var(--space) * 2);
}
.entry-tag-list-item:first-child {
  margin-left: 0;
}
.entry-tag-list-item a {
  padding: calc(var(--space) * 0.5) calc(var(--space) * 2);
  border: 1px solid var(--sub-color);
  border-radius: var(--radius-size);
}

.entry-tag-list-item a::before {
  content: '#';
}

.entry-share {
  display: flex;
  align-items: center;
  margin-top: var(--contents-separator-space);
  text-align: center;
}

.entry-share-text {
  display: inline-block;
  border-right: 2px solid var(--sub-color);
  padding-right: calc(var(--space) * 3);
  margin: 0 calc(var(--space) * 3) 0 0;
}

.related-entry-list {
  margin-top: var(--contents-separator-space);
}

.entry-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1em);
  margin-top: var(--contents-separator-space);
}

.entry-contents > * {
  grid-column: 1 / -1;
}

.entry-contents > *:first-child {
  margin-top: 0;
}

.entry-contents > *:last-child {
  margin-bottom: 0;
}

.entry-contents > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.entry-contents blockquote,
.entry-contents p,
.entry-contents pre,
.entry-contents ol,
.entry-contents ul {
  margin: calc(1rem + var(--space)) 0 0;
}

.entry-contents blockquote {
  position: relative;
  padding-left: calc(1rem + var(--space) * 2);
  border-left: 12px solid var(--border-color);
}

.entry-contents blockquote > p {
  margin: 0;
}

.entry-contents blockquote::before {
  content: '❝';
  position: absolute;
  top: 0;
  left: var(--space);
  color: var(--main-color);
  font-size: calc(var(--base-font-size) * 2);
  line-height: 1;
}

.entry-contents h1 {
  margin: var(--contents-separator-space) 0 0;
  font-size: var(--section-title-font-size);
}

.entry-contents h2 {
  margin: calc(var(--contents-separator-space) / 1.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.1);
}

.entry-contents h3 {
  margin: calc(var(--contents-separator-space) / 1.5) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.2);
}

.entry-contents h4 {
  margin: calc(var(--contents-separator-space) / 1.75) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.3);
}

.entry-contents h5 {
  margin: calc(var(--contents-separator-space) / 2) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.4);
}

.entry-contents h6 {
  margin: calc(var(--contents-separator-space) / 2.25) 0 0;
  font-size: calc(var(--section-title-font-size) / 1.5);
}

.entry-contents img {
  max-width: 100%;
  height: auto;
  padding: var(--space);
  border: 1px solid var(--border-color);
  background-color: var(--image-background-color);
}

.entry-contents pre {
  padding: calc(var(--space) * 2);
  border-radius: var(--radius-size);
  background-color: var(--code-background-color);
  color: var(--code-background-color);
  overflow: auto;
}

.entry-contents code {
  padding: calc(var(--space) * 0.5) calc(var(--space) * 2);
  border-radius: var(--radius-size);
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: var(--programming-font-family);
}

.entry-contents pre code {
  padding: 0;
  border: none;
  white-space: pre-wrap;
}

.entry-contents ol ol,
.entry-contents ul ul {
  margin: calc((1rem + var(--space)) / 2) 0;
}

.entry-contents table {
  border-collapse: collapse;
  border-spacing: 0;
}

.entry-contents th,
.entry-contents td {
  border: 1px solid var(--border-color);
  padding: var(--space);
}
