.header {
  position: relative;
}

.entry-title {
  margin: 0;
  font-size: var(--headline-font-size);
}

.entry-metadata {
  margin-top: var(--space);
}

.entry-tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: var(--space) 0 0;
  font-size: var(--note-font-size);
}

.entry-tag-list-item {
  margin-left: var(--space);
}
.entry-tag-list-item:first-child {
  margin-left: 0;
}

.entry-tag-list-item a::before {
  content: '#';
}

.entry-contents {
  margin-top: var(--contents-separator-space);
}

.entry-share {
  display: flex;
  align-items: center;
  margin-top: var(--contents-separator-space);
  text-align: center;
}

.entry-share-text {
  display: inline-block;
  border-right: 2px solid var(--sub-color);
  padding-right: calc(var(--space) * 3);
  margin: 0 calc(var(--space) * 3) 0 0;
}

.related-entry-list {
  margin-top: var(--contents-separator-space);
}
