---
import { retrieveTranslation } from '../../locales/i18n';
import { addWbr } from '../utils/addWbr';

interface Props {
  hasHeadings?: boolean;
}

const { hasHeadings = true } = Astro.props;

const blogTitle = retrieveTranslation('website.title');
const blogDescription = retrieveTranslation('website.description');
---

<style>
  .Header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    font-size: var(--font-size-text);
    line-height: calc(var(--line-height-text) * 0.8);
  }
  @media (min-width: 1008px) {
    .Header {
      margin-left: calc(var(--font-size-text) * -5.5 - var(--space-component-2));
    }
  }

  .Header > h1 {
    display: contents;
    margin: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
  }

  .Logo {
    width: calc(var(--font-size-text) * 5.5);
    height: calc(var(--font-size-text) * 5);
    padding: var(--space-component-1);
    margin: 0;
    border-radius: var(--border-radius);
    background-color: rgb(from var(--color-primary-main) r g b / 0.99);
    color: var(--color-monotone-50);
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    word-break: keep-all;
  }

  .Description {
    max-width: calc(var(--font-size-text) * 11);
    margin: 0 0 0 var(--space-component-2);
    font-size: inherit;
    line-height: inherit;
    word-break: keep-all;
  }
</style>

<header class="Header">
  {
    hasHeadings ? (
      <h1>
        <a class="Logo" href="/">
          <Fragment set:html={addWbr(blogTitle)} />
        </a>
      </h1>
    ) : (
      <a class="Logo" href="/">
        <Fragment set:html={addWbr(blogTitle)} />
      </a>
    )
  }

  <p class="Description">
    <Fragment set:html={addWbr(blogDescription)} />
  </p>
</header>
