---
import { pathList } from '../../constants/pathList';
import { retrieveTranslation } from '../../locales/i18n';
import RssIcon from '../assets/rss.svg';
---

<style>
  .Footer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: inherit;
    padding: var(--space-component-1);
    border-radius: var(--border-radius);
    margin: var(--space-component-6) auto 0;
    background-color: rgb(from var(--color-primary-tks-blue) r g b / 0.99);
    color: var(--color-monotone-brightest);
  }

  .Footer > *:not(:first-child) {
    margin-left: var(--space-component-1);
  }

  .Footer a {
    color: currentcolor;
  }
  .Footer a:focus-visible {
    outline-color: var(--color-primary-tks-yellow);
  }

  .Links {
    display: flex;
    gap: var(--space-component-1);
    justify-content: end;
    width: 100%;
  }

  .Links > p {
    margin: 0;
  }

  .RssLink {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }

  .RssLink > svg {
    width: calc(var(--font-size-text) * 1);
    height: calc(var(--font-size-text) * 1);
  }

  .RssLink > span {
    margin-left: var(--space-text-1);
  }
</style>

<footer class="Footer">
  <a class="RssLink" href={`/${pathList.feed}`}>
    <RssIcon />
    <span>
      {retrieveTranslation('navigation.feed')}
    </span>
  </a>

  <div class="Links">
    <a href={`/${pathList.policy}`}>{retrieveTranslation('navigation.policy')}</a>
    <p itemscope itemtype="https://schema.org/Person">
      <small>
        © <span itemprop="name"><a href={`/${pathList.profile}`}>{retrieveTranslation('website.author')}</a></span>
      </small>
    </p>
  </div>
</footer>
