.entry-list {
  list-style-type: none;
  padding: 0;
}

.entry-list-title {
  padding: 0 calc(var(--space) * 3);
  font-size: calc(var(--base-font-size) * 1.125);
}
@media (min-width: 37.5rem) {
  .entry-list-title {
    font-size: calc(var(--base-font-size) * 1.125) + ((1vw - 0.375rem) * 3.419);
  }
}
@media (min-width: 52.125rem) {
  .entry-list-title {
    padding: 0;
    font-size: 1.5rem;
  }
}

.entry {
  display: grid;
  grid-template-areas:
    'title date'
    'title .'
    'excerpt excerpt';
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr none 1fr;
  padding: 0 calc(var(--space) * 3);
  margin-bottom: calc(var(--space) * 6);
}
@media (min-width: 52.125rem) {
  .entry {
    padding: 0;
    margin-bottom: calc(var(--space) * 8);
  }
}

.entry-title {
  grid-area: title;
  margin: 0;
  font-size: calc(var(--base-font-size) * 1.125);
  font-weight: bold;
}
@media (min-width: 37.5rem) {
  .entry-title {
    font-size: calc(var(--base-font-size) * 1.125 + ((1vw - 0.375rem) * 3.419));
  }
}
@media (min-width: 52.125rem) {
  .entry-title {
    font-size: 1.5rem;
  }
}

.entry-link {
  color: var(--text-color);
}

.excerpt {
  grid-area: excerpt;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: var(--space) 0 0;
  font-size: var(--base-font-size);

  @supports (-webkit-line-clamp: 2) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 37.5rem) {
  .excerpt {
    font-size: calc(var(--base-font-size) + (1vw - 0.375rem) * (16 / (854 - 600)));
  }
}

@media (min-width: 52.125rem) {
  .excerpt {
    font-size: calc(var(--base-font-size) * 1.125);
  }
}

.entry-published-date {
  grid-area: date;
  margin: 0 calc(var(--space) * -6) 0 calc(var(--space) * 3);
}
