.entry-list {
  list-style-type: none;
  padding: 0;
}

.entry-list-title {
  padding: 0 calc(var(--space) * 3);
  font-size: var(--section-title-font-size);
  font-weight: normal;
}
@media (min-width: 52.125rem) {
  .entry-list-title {
    padding: 0;
  }
}

.entry {
  display: grid;
  grid-template-areas:
    'title date'
    'title .'
    'excerpt excerpt';
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr none 1fr;
  padding: 0 calc(var(--space) * 3);
  margin-bottom: calc(var(--space) * 6);
}
@media (min-width: 52.125rem) {
  .entry {
    padding: 0;
    margin-bottom: calc(var(--space) * 8);
  }
}

.entry-title {
  grid-area: title;
  margin: 0;
  font-size: var(--list-title-font-size);
  font-weight: bold;
}

.entry-link {
  color: var(--text-color);
}

.excerpt {
  grid-area: excerpt;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: var(--space) 0 0;
  font-size: var(--note-font-size);
}
@supports (-webkit-line-clamp: 2) {
  .excerpt {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-line-clamp: 2;
  }
}

.entry-published-date {
  grid-area: date;
  margin: 0 calc(var(--space) * -6) 0 calc(var(--space) * 3);
}
