.Contents > *:first-child {
  margin-top: 0;
}
.Contents > *:last-child {
  margin-bottom: 0;
}

.Contents > iframe {
  width: 100%;
  height: 56.25vh;
  min-width: 18rem;
  min-height: 9.375rem;
  max-width: 50rem;
  max-height: 28.125rem;
}

.Contents blockquote,
.Contents p,
.Contents pre,
.Contents table,
.Contents ol,
.Contents ul {
  margin: calc(var(--space-component-3)) 0 0;
  overflow-wrap: anywhere;
}

.Contents blockquote {
  padding-left: var(--space-component-2);
  border-left: 5px solid var(--color-primary-accent);
  margin-left: var(--space-component-3);
}

.Contents blockquote > p {
  margin: 0;
}

.Contents h1,
.Contents h2,
.Contents h3,
.Contents h4 {
  margin-top: var(--space-component-4);
}

.Contents img {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--color-neutral-border);
  border-radius: var(--border-radius);
}

.Contents pre {
  border: 1px solid var(--color-neutral-border);
  border-radius: var(--border-radius);
  overflow: auto;
}
.Contents pre::before,
.Contents pre::after {
  display: none;
}

.Contents code {
  border-radius: var(--border-radius);
  background-color: var(--color-code-background);
  font-family: var(--font-family-programming);
}

.Contents pre code {
  border: none;
  box-shadow: none;
  background-color: transparent;
  white-space: pre-wrap;
}

.Contents hr {
  width: 50%;
  border: 1px solid var(--color-neutral-border);
  margin: var(--space-component-4) auto;
}

.Contents ol ol,
.Contents ul ul {
  margin: var(--space-text-1) 0;
}

.Contents table {
  display: block;
  max-width: calc(100vw - var(--space-component-2) * 2);
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.Contents th,
.Contents td {
  border: 1px solid var(--color-neutral-border);
  padding: var(--space-text-1);
}
