:root {
  /* Base */
  --font-size-base: 1rem;
  --line-height-base: 1rem;
  --space-component-base: 0.5rem;
  --space-text-base: 0.25rem;

  /* Widths */
  --site-min-width: calc(var(--font-size-base) * 21);
  --site-max-width: calc(var(--font-size-base) * 50);
  --content-aside-width: calc(var(--font-size-base) * 5.5);

  /* Spacing */
  --space-text-1: calc(var(--space-text-base) * 1);
  --space-text-2: calc(var(--space-text-base) * 2);
  --space-text-3: calc(var(--space-text-base) * 3);
  --space-text-4: calc(var(--space-text-base) * 5);
  --space-text-5: calc(var(--space-text-base) * 7);
  --space-text-6: calc(var(--space-text-base) * 11);
  --space-text-7: calc(var(--space-text-base) * 17);
  --space-text-8: calc(var(--space-text-base) * 23);

  /* Component Spacing */
  --space-component-1: calc(var(--space-component-base) * 1);
  --space-component-2: calc(var(--space-component-base) * 2);
  --space-component-3: calc(var(--space-component-base) * 3);
  --space-component-4: calc(var(--space-component-base) * 5);
  --space-component-5: calc(var(--space-component-base) * 7);
  --space-component-6: calc(var(--space-component-base) * 11);
  --space-component-7: calc(var(--space-component-base) * 17);
  --space-component-8: calc(var(--space-component-base) * 23);

  /* Borders */
  --border-radius: 0.25rem;
  --border-size: 0.25rem;

  /* Font Families */
  --font-family-gothic: 'Hiragino Sans', 'BIZ UDPGothic Alphabet', 'BIZ UDGothic', sans-serif;
  --font-family-web-site-title: 'Hiragino Sans', '游ゴシック', Helvetica, sans-serif;
  --font-family-programming: Menlo, Consolas, Monaco, monospace;

  /* Font Sizes */
  --font-size-heading-1: calc(var(--font-size-base) * 8 / 5);
  --font-size-heading-2: calc(var(--font-size-base) * 8 / 6);
  --font-size-heading-3: calc(var(--font-size-base) * 8 / 7);
  --font-size-heading-4: calc(var(--font-size-base) * 8 / 8);
  --font-size-text: var(--font-size-base);
  --font-size-note: calc(var(--font-size-base) * 8 / 9);

  /* Line Heights */
  --line-height-heading-1: calc(var(--line-height-base) * 19 / 8);
  --line-height-heading-2: calc(var(--line-height-base) * 17 / 8);
  --line-height-heading-3: calc(var(--line-height-base) * 13 / 8);
  --line-height-heading-4: calc(var(--line-height-base) * 11 / 8);
  --line-height-text: calc(var(--line-height-base) * 13 / 8);
  --line-height-note: calc(var(--line-height-base) * 11 / 8);
}
