body {
  display: grid;
  column-gap: var(--space-component-3);
  grid-template-rows: auto 1fr auto;
  max-width: var(--width-body);
  min-height: 100vh;
  padding: var(--space-component-2);
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--color-text);
  font-family: var(--font-family-gothic);
  font-size: var(--font-size-text);
  font-weight: 300;
  line-break: strict;
  line-height: var(--line-height-text);
}

body > header {
  display: flex;
  font-size: var(--font-size-header);
  line-height: var(--line-height-header);
}
@media (min-width: 992px) {
  body > header {
    margin-left: calc(var(--font-size-text) * -6 - var(--space-component-2));
  }
}
body > header > h1 {
  display: contents;
  margin: 0;
  font-weight: normal;
}

body > main {
  max-width: inherit;
  margin-top: var(--space-component-6);
}

body > footer {
  align-self: end;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgb(from var(--color-main) r g b / 0.5);
  width: 100%;
  padding: var(--space-component-1);
  border-radius: var(--border-radius);
  margin-top: var(--space-component-6);
  background-color: var(--color-main);
  color: var(--color-text-footer);
}
body > footer > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
body > footer li:not(:first-child) {
  margin-left: var(--space-component-1);
}
body > footer a {
  margin: 0;
  color: currentcolor;
}
body > footer a:focus-visible {
  outline-color: var(--color-accent);
}
body > footer > p {
  margin: 0;
}

.Logo {
  display: block;
  box-shadow: 0 1px 2px rgb(from var(--color-main) r g b / 0.5);
  max-width: calc(var(--font-size-text) * 6);
  padding: var(--space-component-1);
  margin: 0;
  border-radius: var(--border-radius);
  background-color: var(--color-main);
  color: var(--color-text-logo);
  font-size: var(--font-size-header);
  line-height: var(--line-height-header);
  text-decoration: none;
  word-break: keep-all;
}

.Description {
  max-width: calc(var(--font-size-text) * 11);
  padding: var(--space-component-1);
  margin: 0;
  margin-left: var(--space-component-1);
  word-break: keep-all;
}
