<style>
  body {
    display: grid;
    column-gap: var(--space-component-3);
    grid-template-rows: auto 1fr auto;
    max-width: var(--site-width);
    min-height: 100dvh;
    padding: var(--space-component-2);
    margin: 0 auto;
    background-color: inherit;
    color: inherit;
  }
</style>

<body>
  <slot />
</body>
