---
import { retrieveTranslation } from '../features/locales/i18n';
import { addWbr } from '../utils/addWbr';

interface Props {
  hasHeadings?: boolean;
}

const { hasHeadings = true } = Astro.props;

const blogTitle = retrieveTranslation('website.title');
const blogDescription = retrieveTranslation('website.description');
---

<style>
  .Header {
    display: flex;
    font-size: var(--font-size-header);
    line-height: var(--line-height-header);
  }
  @media (min-width: 992px) {
    .Header {
      margin-left: calc(var(--font-size-text) * -6 - var(--space-component-2));
    }
  }
  .Header > h1 {
    display: contents;
    margin: 0;
    font-weight: normal;
  }

  .Logo {
    display: block;
    box-shadow: 0 1px 2px rgb(from var(--color-main) r g b / 0.5);
    max-width: calc(var(--font-size-text) * 6);
    padding: var(--space-component-1);
    margin: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    color: var(--color-text-logo);
    font-size: var(--font-size-header);
    line-height: var(--line-height-header);
    text-decoration: none;
    word-break: keep-all;
  }

  .Description {
    max-width: calc(var(--font-size-text) * 11);
    padding: var(--space-component-1);
    margin: 0;
    margin-left: var(--space-component-1);
    word-break: keep-all;
  }
</style>

<header class="Header">
  {
    hasHeadings ? (
      <h1>
        <a class="Logo" href="/">
          <Fragment set:html={addWbr(blogTitle)} />
        </a>
      </h1>
    ) : (
      <a class="Logo" href="/">
        <Fragment set:html={addWbr(blogTitle)} />
      </a>
    )
  }

  <p class="Description">
    <Fragment set:html={addWbr(blogDescription)} />
  </p>
</header>
