name: CI

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

env:
  TZ: 'Asia/Tokyo'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Run lints
        run: |
          npm run gen:types
          npm run lint:script
          npm run lint:style
          npm run lint:markup

  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Check TypeScript code
        run: |
          npm run gen:types
          npm run check:type

      - name: Run diagnostics
        run: |
          npm run check:astro

      - name: Check formatting
        run: npm run check:format

  test:
    runs-on: ubuntu-latest

    needs: [lint, check]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Run testing
        run: npm run test

  e2e:
    runs-on: ubuntu-latest

    needs: [lint, check]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium
        working-directory: app

      - name: Run E2E tests
        run: npx playwright test
        working-directory: app
        env:
          DOTENV_PRIVATE_KEY: ${{ secrets.DOTENV_PRIVATE_KEY }}
