name: CI

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

env:
  TZ: 'Asia/Tokyo'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Run lints
        run: |
          npm run gen:types
          npm run lint:script
          npm run lint:style
          npm run lint:markup

  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Check TypeScript code
        run: |
          npm run gen:types
          npm run check:type

      - name: Run diagnostics
        run: |
          npm run check:astro

      - name: Check formatting
        run: npm run check:format

  test:
    runs-on: ubuntu-latest

    needs: [lint, check]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'npm'
          node-version: 24

      - name: Install modules
        run: npm ci

      - name: Run testing
        run: npm run test
