name: Upload og:image to S3

on:
  push:
    branches:
      - main
    paths:
      - public/assets/images/og/**

env:
  AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync og:image folder to S3
        run: |
          aws s3 sync public/assets/images/og s3://${{ env.AWS_BUCKET_NAME }}/images/og --delete --exact-timestamps
